In [ ]:
#tuples are immutable lists are mutable

In [1]:
myTupple = (1,2,3,4,5,6,7)
myTupple

(1, 2, 3, 4, 5, 6, 7)

In [2]:
myTupple[4]

5

In [4]:
myTupple[:4]

(1, 2, 3, 4)

In [5]:
del myTupple[4]

TypeError: 'tuple' object doesn't support item deletion

In [6]:
myTupple[4]="update"

TypeError: 'tuple' object does not support item assignment

In [4]:
#packing
cities = ("khi","lhr","multan")
#unpacking
largest,bigger,small=cities

In [5]:
largest

'khi'

In [6]:
bigger

'lhr'

In [7]:
small

'multan'

In [ ]:
#loops
#task
#to print your name ten times

In [9]:
for a in range(10):
    print("nasir")

nasir
nasir
nasir
nasir
nasir
nasir
nasir
nasir
nasir
nasir

In [10]:
for a in range(10):
    print(a,"nasir")

0 nasir
1 nasir
2 nasir
3 nasir
4 nasir
5 nasir
6 nasir
7 nasir
8 nasir
9 nasir

In [11]:
for b in range(30):
    print("safi")

safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi
safi

In [13]:
for b in range(30):
    print(b,"safi")

0 safi
1 safi
2 safi
3 safi
4 safi
5 safi
6 safi
7 safi
8 safi
9 safi
10 safi
11 safi
12 safi
13 safi
14 safi
15 safi
16 safi
17 safi
18 safi
19 safi
20 safi
21 safi
22 safi
23 safi
24 safi
25 safi
26 safi
27 safi
28 safi
29 safi

In [14]:
for a in range(5,10):
    print(a,"nasir")

5 nasir
6 nasir
7 nasir
8 nasir
9 nasir

In [17]:
for a in range(0,10,2):#(start,end-1,step)
    print(a,"safi")

0 safi
2 safi
4 safi
6 safi
8 safi

In [ ]:
#steps

In [18]:
for a in range(1,10,2):#(start,end-1,step)
    print(a,"safi")

1 safi
3 safi
5 safi
7 safi
9 safi

In [23]:
for a in range(10,0,-1):
    print(a,"safi")

10 safi
9 safi
8 safi
7 safi
6 safi
5 safi
4 safi
3 safi
2 safi
1 safi

In [26]:
for name in ["khi","isl","multan"]:
             print(name)

khi
isl
multan

In [27]:
for character in "string" :
    print(character)

s
t
r
i
n
g

In [ ]:
# pass , break , and continue

In [30]:
for a in  range (10):
    if a%3==1:
        break
    print(a)

0

In [31]:
for a in  range (10):
    if a==5:
        break
    print(a)

0
1
2
3
4

In [32]:
friends=['a','b','c','d','e','f','g']
for friend in friends:
    if friend!="e":
        print("continue to enjoy the party")
    else:
        print("party is over")

continue to enjoy the party
continue to enjoy the party
continue to enjoy the party
continue to enjoy the party
party is over
continue to enjoy the party
continue to enjoy the party

In [34]:
friends=['a','b','c','d','e','f','g']
for friend in friends:
    if friend!="e":
        print("continue to enjoy the party")
    else:
        print("party is over")
        break

continue to enjoy the party
continue to enjoy the party
continue to enjoy the party
continue to enjoy the party
party is over

In [41]:
friends=['a','b','c','d','e','f','g']
for friend in friends:
    if friend!="e":
        print("continue to enjoy the party")
    else:
        print("party is over")
    continue

continue to enjoy the party
continue to enjoy the party
continue to enjoy the party
continue to enjoy the party
party is over
continue to enjoy the party
continue to enjoy the party

In [46]:
friends=['a','b','c','d','e','f','g']
for friend in friends:
    if friends!="e":
        print("continue to enjoy the party")
    else:
        print("go home")

continue to enjoy the party
continue to enjoy the party
continue to enjoy the party
continue to enjoy the party
continue to enjoy the party
continue to enjoy the party
continue to enjoy the party

In [42]:
for a in range(10):
    pass

In [57]:
inp = input("Enter any number: ")
for a in range(10):
       print(a,inp)

Enter any number: 12
0 12
1 12
2 12
3 12
4 12
5 12
6 12
7 12
8 12
9 12

In [62]:
inp = int(input("enter the number: "))
for a in range(1,11):
    print(f"{inp} * {a} = {inp*a}")

enter the number: 12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [67]:
for inp in range(2,35,4):
    print("==================")
    for a in range(1,11):
        print(f"{inp} * {a} = {inp*a}")

==================
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
==================
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
==================
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
==================
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140
==================
18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180
==================
22 * 1 = 22
22 * 2 = 44
22 * 3 = 66
22 * 4 = 88
22 * 5 = 110
22 * 6 = 132
22 * 7 = 154
22 * 8 = 176
22 * 9 = 198
22 * 10 = 220
==================
26 * 1 = 26
26 * 2 = 52
26 * 3 = 78
26 * 4 = 104
26 * 5 = 130
26 * 6 = 156
26 * 7 = 182
26 * 8 = 208
26 * 9 = 234
26 * 10 = 260
==================
30 * 1 = 30
30 * 2 = 60
30 * 3 = 90
30 * 4 = 120
30 * 5 = 150
30 * 6 = 180
30 * 7 = 210
30 * 8 = 240
30 * 9 = 270
30 * 10 = 300
==================
34 * 1 = 34
34 * 2 = 68
34 * 3 = 102
34 * 4 = 136
34 * 5 = 170
34 * 6 = 204
34 * 7 = 238
34 * 8 = 272
34 * 9 = 306
34 * 10 = 340

In [68]:
"pakistan".upper()

'PAKISTAN'

In [69]:
"PAKISTAN".lower()

'pakistan'

In [ ]:
myDic = {key:value}
#contents of dictionary

In [72]:
myDic = {name:"PIAIC"} #curly brackets for dictionary
myDic[name]

'PIAIC'

In [80]:
myDic ={"name":"asd","age":"18"}
myDic["name"]

'asd'

In [81]:
myDic["age"]

'18'

In [87]:
myDic = {"name" : "safi","age":"18","cellno":"03352570921","status":"student" }

In [83]:
myDic["status"]

'student'

In [84]:
myDic["age"]

'18'

In [88]:
inp = int(input("enter number"))
for a in range(10):
    print(inp*a)

enter number10
0
10
20
30
40
50
60
70
80
90

In [ ]:
#three methods for looping in dictionary
#key(),values(),items()

In [94]:
for key,value in myDic.items():
    print(f"the key is {key} , and the value is {value}")

the key is name , and the value is safi
the key is age , and the value is 18
the key is cellno , and the value is 03352570921
the key is status , and the value is student

In [95]:
for key in myDic.keys():
    print(key)

name
age
cellno
status

In [ ]:
#curly brackets are for {} dictionary

In [98]:
for key in myDic.keys():
    print(myDic[key])

safi
18
03352570921
student

In [105]:
for values in myDic.values():
    print(values)

safi
18
03352570921
student

In [ ]:
#list in list

In [106]:
a= [11,22,33,44]
b=[55,66,77,88]
c=["apple","orange",a , b]

In [107]:
c

['apple', 'orange', [11, 22, 33, 44], [55, 66, 77, 88]]

In [108]:
c[2]

[11, 22, 33, 44]

In [109]:
c[3]

[55, 66, 77, 88]

In [110]:
c[3][2]

77

In [111]:
c[2][3]

44

In [112]:
c[3][1:]

[66, 77, 88]

In [113]:
del c[3][1]

In [114]:
c

['apple', 'orange', [11, 22, 33, 44], [55, 77, 88]]

In [129]:
r=["asad"]
r.remove("asad")

In [130]:
r

[]

In [131]:
c[2].remove(44)

In [132]:
c

['apple', 'orange', [11, 22, 33], [55, 77, 88]]

In [ ]:
#dictionary in list

In [133]:
aa = [11,22,33, myDic]
aa

[11,
 22,
 33,
 {'name': 'safi', 'age': '18', 'cellno': '03352570921', 'status': 'student'}]

In [135]:
aa[3]["age"]

'18'

In [136]:
del aa[3]["age"]

In [137]:
aa

[11, 22, 33, {'name': 'safi', 'cellno': '03352570921', 'status': 'student'}]

In [ ]:
#list in list 
#dic in list
#list in dic
#dic in list
#tup in dic
#tup in tup
#list in tup
#dic in tup

In [145]:
dd = {'names' : ['a','b','c','d','e','f','g','h'] }

In [146]:
dd['names']

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [147]:
dd['names'][3]

'd'

In [148]:
del dd['names'][3]

In [149]:
dd

{'names': ['a', 'b', 'c', 'e', 'f', 'g', 'h']}

In [157]:
dd['names'].remove("g")

In [154]:
dd

{'names': ['a', 'b', 'c', 'e', 'g', 'h']}

In [ ]:
#dictionary in dictionary

In [158]:
qq ={"names":myDic}

In [159]:
qq

{'names': {'name': 'safi', 'cellno': '03352570921', 'status': 'student'}}

In [160]:
qq['names']['cellno']

'03352570921'

In [163]:
del qq['names']['cellno']

In [164]:
qq

{'names': {'name': 'safi', 'status': 'student'}}