# 29june 2019 classwork

In [ ]:
#arbitrary num of arguments when their ar more than 3 arguments

In [1]:
def cars(model , make,*specs): # * represents multiple arguments can be used
    print(model,make,)
    print(specs)

In [2]:
cars(2010,'toyota corolla' , 'alloyrim','tape','power window')

2010 toyota corolla
('alloyrim', 'tape', 'power window')

In [3]:
cars(2010 , 'toyota corolla' , 'automatic' )

2010 toyota corolla
('automatic',)

In [6]:
def pizza(name , amount,size ,*toppings):
    print(name,amount,size)
    print(toppings)

In [7]:
pizza('muhammad safi' , 1500, '12inch','extra cheese with jalpenos and olives' ,'big drink','extra sauce')

muhammad safi 1500 12inch
('extra cheese with jalpenos and olives', 'big drink', 'extra sauce')

In [2]:
def pizza_order(name , amount , size , *toppings):
    print("order given by : "+name)
    print("amount to be paid : "+amount)
    print("size : " +size)
    print("toppings are : "+toppings)

In [3]:
pizza_order('safi' , 100 ,'12inch','extra cheese' , 'jalapenos')

order given by : safi

TypeError: can only concatenate str (not "int") to str

In [15]:
def person(fname , lname , **about):
    print(fname , lname)
    print(about)

In [16]:
person('muhammad' , 'safi' ,age= 18 ,adress='karachi')

muhammad safi
{'age': 18, 'adress': 'karachi'}

In [17]:
def person_2(f_name ,l_name , **about ):
    print(f_name , l_name)
    print(about)

In [22]:
person_2('muhammad','safi',roll ={2019 ,36472,756349} , adress='karachi')

muhammad safi
{'roll': {36472, 2019, 756349}, 'adress': 'karachi'}

In [23]:
person_2('muhammad' ,'safi',roll ={2019:36472})

muhammad safi
{'roll': {2019: 36472}}

# using FUNCTION AS A VARIABLE

In [24]:
def add():
    x = 3 + 5
    return x

In [25]:
def sub():
    y = 23 - 9
    return y

In [26]:
answer = add()+sub()

In [27]:
print(answer)

22

In [69]:
def salary(basic , commision):
    total = basic + commision 
    print(f" your salary is : {total} ")

In [70]:
def commisionCalculator(sales):
    if sales>=100000:
        percentage = 30
    elif sales>=50000:
        percentage = 15
    elif sales>=25000:
        percentage = 7
    elif sales>=15000:
        percentage = 3
    else:
        percentage = 0
    commision = sales/100*percentage
    return commision

In [72]:
salary(50000 ,commisionCalculator(25000))

 your salary is : 51750.0

# LOCAL AND GLOBAL VARIABLES

In [73]:
#varibles created inside the function body are local variables
#local means they can not be accessed outside the function

In [80]:
fruit= "Apple"  #global

def alocal():
    a = 100  #local
    
    fruit ="orange"
    print(fruit)
    print(a)

In [81]:
alocal()

orange
100

In [83]:
fruit ="Apple"

def alocal():
    a = 100 
    
    global fruit
    fruit ="orange"
    print(fruit)
    print(a)

In [84]:
alocal()

orange
100

# WHILE LOOPS

In [1]:
a =0
while a<10:
    print(a)
    a +=2

0
2
4
6
8

In [1]:
flag = True
while flag:
    name=input("enter name or type exit to quit")
    print(name)
    if name=="exit":
        flag = False

enter name or type exit to quitkik
kik
enter name or type exit to quit,kmdflbd
,kmdflbd
enter name or type exit to quit.lgo
.lgo
enter name or type exit to quitlu
lu
enter name or type exit to quitp/k[]\pk[]\mp[
p/k[]\pk[]\mp[
enter name or type exit to quit

enter name or type exit to quitquit
quit
enter name or type exit to quitexit
exit

In [ ]:
def pizza_2(name , size , *toppings):
   
flag = True
while flag:
    toppings_given=input("Enter your toppings")
    print(toppings_given)
if toppings_given == "exit":
    flag=False
else:
    print("topping not availible")
print("Order given by = " +name)
print("size of pizza =  " +size)
print("toppings = " +toppings)

Enter your toppings extra cheese
 extra cheese
Enter your toppingsdip sauce
dip sauce
Enter your toppingsexit
exit

# CLASSES

In [ ]:
class patient_2():
    #attritutes = variables
    #behaviours =functions
    
    pass

In [6]:
class Patient():
    def __init__(self , pid , pname , disease , age , gender):
        self.pid = pid
        self.pname = pname
        self.disease = disease
        self.age = age
        self.gender = gender

In [10]:
p1 = Patient(111,"gabbar","cancer",33,"male")

In [11]:
p2 = Patient(222,"samba" ,"wounded" ,"45","male")

In [12]:
p1.pname

'gabbar'

In [13]:
p1.pid

111

In [14]:
p2.pid

222

In [16]:
class students():
    def __init__(self,studentname,Class, rollno):
        self.studentname = studentname
        self.Class = Class
        self.rollno = rollno

In [ ]:
s1 = student("ahsan")